.classpath
.DS_Store
.externalNativeBuild
.project
.gradle
.mtj.tmp
.vscode
.settings
.cxx

/.idea

local.properties
maven-repository
mvn-clone
build
captures
gen
out
target

*.class
*.txt
*.ear
*.iml
*.jar
*.keystore
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
*.apk